.paginationBtns {
  // width: 80%;
  margin-top: 30px;
  height: 40px;
  list-style-type: none;
  display: flex;
  justify-content: center;

  a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid #2b2eff;
    color: #2b2eff !important;
    cursor: pointer;

    &:hover {
      color: white !important;
      background-color: #2b2eff;
    }
  }
}

.paginationActive {
  a {
    color: white !important;
    background-color: #2b2eff;
  }
}
